/*-------------------- Mobile Styles - General Styles --------------------*/
* {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	font-family: system-ui, -apple-system,
		BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-style: normal;
	font-size: 25px;
	line-height: 50%;
	color: white;
}

.body-image {
	background: url('../img/background-image.gif')
		#20c6e4 no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	min-height: 100vh;
}

h1 {
	width: 100%;
	padding: 0 30px 0 20px;
	margin: 20px 0;
	font-size: 4rem;
	line-height: 4.5rem;
	text-align:start;
	font-family: 'Nabla', system-ui;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'EDPT' 100, 'EHLT' 12;
}

.container {
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(167, 237, 237, 0.3) 0%,
		rgba(156, 226, 226, 0) 100%
	);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 90%;
	height: auto;
}

.hide {
	display: none;
}

.highlight {
	padding: 0.25em;
	background: #ffffff;
	font-size: 1em;
}

.underline {
	border-bottom: 2px solid #ffffff;
	padding-bottom: 3px;
}

.word-in-progress {
	letter-spacing: 0.6em;
	font-size: 1.2em;
}

.remaining {
	color: #f05299;
	background-color: #0C2C2B;
	border: 3px solid #30c0b7;
	border-radius: 15px;
	padding: 0.3em;
	font-weight: 700;
	line-height: 1.6em;
	font-size: 1em;
}

.guessed-letters {
	padding: 0;
	list-style: none;
	line-height: 1em;
}

.guessed-letters li {
	display: inline-block;
	padding: .2em .4em;
	font-weight: bolder;
	font-size: 1em;
}

.message {
	text-align: center;
	line-height: 1.5em;
	padding: 1em;
	margin-top: 1.5em;
}

.guess-form {
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.guess-form label {
	width: 100%;
	font-weight: bold;
	text-align: center;
}

input {
	width: 2.25em;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.5em;
	margin-top: 1em;
	padding: 0.25em;
	border: 4px solid #ffffff;
}

input:active,
input:focus {
	outline: 0;
	border: 4px solid #ffffff;
}

.guess,
.play-again {
	padding: 1em 3em;
	border-radius: 50px;
	margin: 1em 0 2em 0;
	color: black;
	background: #30c0b7;
	font-size: 1em;
	align-self: center;
	outline: none;
	border: 0;
	cursor: pointer;
}

.guess:active,
.play-again:active,
.guess:focus,
.play-again:focus,
.guess:hover,
.play-again:hover {
	outline: 0;
	transform: scale(0.98);
	filter: brightness(0.9);
}

/*-------------------- Mobile Styles - Result Conditions ---------------------*/

.container img {
	max-width: 100%;
	height: auto;
}

.stand-out {
	font-weight: bolder;
	color: #ee227d;
}

.win {
	font-size: 1.6em;
	padding: .5em .4em;
	border-radius: 15px;
	line-height: 150%;
	background: linear-gradient(
		-45deg,
		#ee227d,
		#30c0b7
	);
}

.lost {
	width: 80%;
	font-size: 1.5em;
	padding: .5em .4em;
	margin-top: .5em;
	border-radius: 15px;
	line-height: 150%;
	background: linear-gradient(
		-45deg,
		#30c0b7,
		#ee227d
	);
}

/* ==========================================================================
							MEDIA QUERIES
   ========================================================================== */

@media only screen and (min-width: 768px) {
	/* Tablet Styles Here */

	/*-------------------- Tablet Styles - General Styles --------------------*/

h1 {
	padding-bottom: 4rem;
	margin: 0;
	font-size: 8rem;
	line-height: 8.5rem;
}

.container {
	justify-content:flex-start;}



.word-in-progress {
	letter-spacing: 1.5rem;
	font-size: 2.5rem;
}

.remaining {
	line-height: 2.5rem;
	font-size: 2.2rem;
}

.guessed-letters li {
	padding: 0 0.4em;
	font-size: 2.2rem;
}

.message {
	padding: 1em;
	margin-top: 2.5rem;
	font-size: 2.5rem;
}

.guess-form label {
	font-size: 1.5em;
}

input {
	font-size: 2em;
	margin-top: 1em;
	padding: 0.5em;
}

.guess,
.play-again {
	margin-top: 1em;
	font-size: 1.5em;
}

/*-------------------- Tablet Styles - Result Conditions ---------------------*/

.win {
	font-size: 2.2em;
	padding: .5em 1em;
}

.lost {
	font-size: 2.2em;
	padding: .5em 1em;

}


@media only screen and (min-width: 1200px) {
	/* Desktop Styles Here */

	/*-------------------- Desktop Styles - General Styles --------------------*/
h1 {
	padding-top: 0;
	margin: 0;
	font-size: 5em;
	text-align: center;
}


.word-in-progress {
	letter-spacing: 1em;
	font-size: 2em;
	margin: 25px 0 35px 0;
}

.remaining {
	line-height: 1.4em;
	font-size: 1.2em;
}

.guessed-letters li {
	font-size: 1.2em;
}

.message {
	font-size: 1.5em;
}

input {
	margin-top: .75em;
	padding: 0.5em;
}

.guess,
.play-again {
	margin-top: 1em;
}

/*-------------------- Desktop Styles - Result Conditions ---------------------*/

.win {
	font-size: 2em;
	padding: 0 1em;
}

.lost {
	font-size: 2em;
	padding: 0 1em;
}
}
}